@model PollAddRequest
@{
	ViewBag.Title = "Create Person";
}

<div class="flex">
	<div class="flex-1">
		<div class="text-grey">
			<span>Contacts</span>
			<i class="fa-solid fa-caret-right"></i>
			<span>Persons</span>
			<i class="fa-solid fa-caret-right"></i>
			<span>Create</span>
		</div>
	</div>
</div>

<div class="form-container">
	<a asp-controller="Home" asp-action="Index" class="link-hover">Back to Poll List</a>
	<h2 class="text-large">Create person</h2>
	<form asp-controller="Home" asp-action="AddPoll" method="post">

		@*Title*@
		<div class="form-field flex">
			<div class="w-25">
				<label for="Title" class="form-label pt">Title</label>
			</div>
			<div class="flex-1">
				<div class="flex-1">
					<input asp-for="Title" class="form-input" placeholder="Title" />
					<span asp-validation-for="Title" class="text-red"></span>
				</div>
			</div>
		</div>

		@*EndTime*@
		<div class="form-field flex">
			<div class="w-25">
				<label for="PollEndTime" class="form-label pt">Poll End Time</label>
			</div>
			<div class="flex-1">
				<div class="flex-1">
					<input asp-for="PollEndTime" class="form-input" />
					<span asp-validation-for="PollEndTime" class="text-red"></span>
				</div>
			</div>
		</div>

		@*Options*@
		<div class="form-field flex">
			<div class="w-25">
				<label for="optionsText" class="form-label pt">Options (Separated by commas)</label>
			</div>
			<div class="flex-1">
				<div class="flex-1">
					<input asp-for="optionsText" class="form-input" />
					<span asp-validation-for="optionsText" class="text-red"></span>
				</div>
			</div>
		</div>

		@*AuthenticatedOnly*@
		<div class="form-field flex">
			<div class="w-25">
			</div>
			<div class="flex-1">
				<div class="flex-1">
					<input asp-for="AuthenticatedOnly" value="true" />
					<label for="AuthenticatedOnly" class="form-label">Authenticated Only</label>
					<span asp-validation-for="AuthenticatedOnly" class="text-red"></span>
				</div>
			</div>
		</div>

		@*Submit*@
		<div class="form-field flex">
			<div class="w-25">
			</div>
			<div class="flex-1">
				<div class="flex-1">
					<button class="button button-green-back">Create</button>
					<div asp-validation-summary="All" class="text-red"></div>
					@if (ViewBag.Errors != null)
					{
						<div class="text-red ml">
							<ul>
								@foreach (var error in ViewBag.Errors)
								{
									<li class="ml">@error</li>
								}
							</ul>
						</div>
					}
				</div>
			</div>
		</div>
	</form>
</div>
